/* --HEADER-- */
.navbar{
    margin-bottom: 0;
    background-color: #900020;
}
.jumbotron{
    text-align: center;
    color: white;
    background-color: #a18262;
}
.jumbotron-1{
    text-align: center;
    color: white;
    background-color: #92000A;
}
.btn{
    background-color: #92000A;
}
.btn .hover{
    background-color: #BB5D5E;
}
.caption{
    text-align: center;
}