/* --HEADER-- */
.navbar{
    margin-bottom: 0;
    background-color: #900020;
}
.jumbotron{
    text-align: center;
    color: white;
    background-color: #a18262;
}
.jumbotron-1{
    text-align: center;
    color: white;
    background-color: #92000A;
}
.btn{
    background-color: #92000A;
}
.btn .hover{
    background-color: #BB5D5E;
}
.caption{
    text-align: center;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-deck .card {
    min-width: 220px;
}
.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
.card-deck .card {
    margin-bottom: 15px;
}